* {
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 185, 255);
  font-family: "verdana";
  height: 100vh;
  margin: 0;
}

.container {
    width: 90%;
    margin: 10% auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap:  20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: rgb(68, 31, 88);
    text-shadow: 0 1px 2px rgb(35, 35, 35);
}

textarea {
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: inset 0 2px 10px rgba(68, 57, 73, 0.792);
    resize: none;
    border: none;
    outline: none;
}

#tags {
    margin-top: 20px;
}

.tag {
    background-color: rgba(68, 31, 88, 0.8);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 30px;
    display: inline-block;
}

.tag.highlight {
    font-weight: 600;
    background-color: rgb(255, 241, 119);
    color: rgba(37, 13, 50, 0.8);
}
